.popup {
  &-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(67, 40, 164, 0.54);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    @media (max-width: 1079px) {

    }

    &-form {
      background: #FFFFFF;
      box-shadow: 0 6px 24px rgba(27, 26, 28, 0.16);
      border-radius: 16px;
      margin: 160px auto;
      padding: 24px;
      min-width: 440px;
      position: relative;

      @media (max-width: 1079px) {
        padding: 40px 16px;
        margin: 0;
        min-width: 0;
        max-width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }

      &-title {
        font-size: 24px;
        line-height: 28px;
        color: #1B1A1C;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-delimeter {
          width: 1px;
          background: #DFE0EB;
          height: 20px;
          margin: 0 16px;
        }

        &-login {
          font-size: 14px;
          line-height: 28px;
          color: #7C86A0;
          font-weight: 400;
        }
      }

      &-input {
        margin-top: 24px;

        .errorPassword {
          border: 1px solid #ff783e;

          &:focus {
            outline: #ff783e;
          }
        }

        .repeat {
          margin-top: 30px;
        }

        &-title {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #0A68F7;
          padding-bottom: 8px;
        }

        input {
          background: #FFFFFF;
          border: 1px solid #DFE0EB;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 11px 16px;
          width: 100%;
        }

        &-desc {
          padding-top: 6px;
          font-size: 12px;
          line-height: 14px;
          color: #9FA2B4;
          opacity: 0.8;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        @media (max-width: 1079px) {
          position: absolute;
          bottom: 40px;
        }

        button {
          outline: none;
          border: none;
          padding: 18px 60px;
        }

        .cancel {
          background: none;
          color: #0A68F7;
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          border-radius: 8px;

          &:hover {
            background: rgba(27, 26, 28, 0.03);
            transition: 0.3s ease-in-out;
          }
        }

        .save {
          background: #0A68F7;
          border-radius: 8px;
          color: white;
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;

          &:hover {
            opacity: 0.9;
            transition: 0.3s ease-in-out;
          }
        }
      }

      .close {
        position: absolute;
        z-index: 3;
        right: 21px;
        top: 21px;
        cursor: pointer;

        @media (max-width: 1079px) {
          top: 14px;
        }
      }
    }
  }
}
