.changeModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 40px;
  position: fixed;
  max-width: max-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 99;
  padding: 6px 14px 6px 0;
  background: #1B1A1C;
  box-shadow: 0 4px 8px rgba(27, 26, 28, 0.24);
  border-radius: 90px;
  color: #F7F8FC;
  min-width: 200px;
  font-size: 12px;

  @media (max-width: 1079px) {
    max-width: 97%;
    text-align: left;
  }

  &-timer {
    display: flex;
    flex-flow: row nowrap;
    width: 40px;

    .single-chart {
      width: 100%;
      justify-content: space-around;
    }
  }

  &-text {
    margin: 0 24px 0 12px;
    max-width: 200px;
  }

  &-cancel {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0A68F7;
    cursor: pointer;

    img {
      margin-right: 4px;
    }

  }
}