.exchangesList {
  @media (max-width: 1079px) {
    margin-bottom: 40px;
  }

  tr {
    border: 0 transparent;
    background: #F8FAFB;

    &:nth-child(2n) {
      background: none;
    }
  }

  .pages-length-dropdown {
    div:empty {
      display: none;
    }
  }

  .table-block {
    &-header {
      &-filters {
        @media (max-width: 1079px) {
          flex-direction: row-reverse;
          justify-content: flex-end;
          min-width: 500px;

          &-container {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            max-width: 100%;
          }
        }

        &-mobile {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          max-width: 100%;
          height: 100vh;
          z-index: 999;
          background: rgba(67, 40, 164, 0.54);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);

          &-select {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: white;
            box-shadow: 0 6px 24px rgba(27, 26, 28, 0.16);
            border-radius: 16px 16px 0 0;
            width: 100%;
            padding-bottom: 20px;

            .title {
              padding: 20px 20px 8px 20px;
            }

            .table-block-header-filters-dropsearch-login-block {
              .item {
                padding: 10px 20px;
              }
            }
          }
        }

        &-block {
          display: flex;
          flex-direction: row;
        }

        &-filter {
          display: flex;
          flex-direction: row;

          &-search {
            .input {
              input {
                background: url(../../assets/img/icons/search.svg) no-repeat;
                background-size: 19px 42px;
                padding: 11px 13px 11px 40px;
                border: 1px solid #F0F1F7;
                box-sizing: border-box;
                border-radius: 8px;
                background-position-x: 11px;
                width: 100%;
                max-width: 130px;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
                color: #0A68F7;
                outline: none;
                transition: all .2s ease-in-out;

                &::placeholder {
                  opacity: 1;
                }

                &:hover {
                  outline: 1.5px solid #0A68F7;
                  cursor: pointer;
                }

                &:focus {
                  outline: 1.5px solid #0A68F7;
                  color: #0A68F7;

                  &::placeholder {
                    color: #9FA2B4;
                  }
                }
              }
            }
          }

          &-btn:first-child {
            margin-right: 10px;
          }
        }

        &-search {
          .searchlist {
            overflow: auto;
            max-height: 330px;
            scrollbar-color: rgba(223, 224, 235, 0.7) white;
          }
        }

        &-dropsearch {
          top: 80px;

          &-login {
            &-block {
              .item {
                transition: all .3s ease-in-out;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &-text {
                  font-size: 14px;
                  line-height: 24px;
                  padding: 10px 16px;
                  color: #1B1A1C;
                  cursor: pointer;
                }

                .circle {
                  height: 10px;
                  width: 10px;
                  background: red;
                  border-radius: 90px;
                  margin-right: 10px;
                }

                .remaining {
                  background: #c00fb2;
                }

                .completed {
                  background: #02C076;
                }

                .pay {
                  background: #44A5FF;
                }

                .exchange {
                  background: #673DFD;
                }

                .overdue {
                  background: #FF783E;
                }

                .returned {
                  background: red;
                }

                &:hover {
                  background: rgba(27, 26, 28, 0.03);
                }
              }
            }
          }
        }

        &-selected {
          padding: 10px 20px;
          margin-left: 16px;
          background: #FCFDFE;
          border: 1px solid #F0F1F7;
          color: #1B1A1C;
          box-sizing: border-box;
          border-radius: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          line-height: 20px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            background: #f3f4f5;
          }

          &-close {
            margin-left: 20px;
            line-height: 0;

            img {
              height: auto;
            }
          }
        }
      }
    }

    .table {
      min-width: 1200px;

      th:first-child, td:first-child {
        position: relative;
      }

      &-row {
        .table-id {
          background: #F8FAFB;
        }

        &:nth-child(2n) {
          .table-id {
            background: white;
          }
        }
      }

      &-id {
        padding-left: 32px;
        width: 100%;
        max-width: 6%;
        font-weight: 700;

        @media (max-width: 1079px) {
          position: sticky;
          top: 0;
          bottom: 0;
          overflow-y: auto;
          padding-left: 16px;
          z-index: 99;
          left: 0;
          background: white;
          //box-shadow: 1px 0 2px rgba(27, 26, 28, 0.16);
          //background: #F8FAFB;

          //&:nth-child(2n) {
          //  background: white;
          //}
          &.sticky {
            box-shadow: 1px 0 2px rgba(27, 26, 28, 0.16);
          }
        }
      }

      .amountData {
        position: absolute;
        top: 11px;
        transition: all .3s ease-in-out;

        label {
          max-width: 100%;
          transition: all .3s ease-in-out;

          input {
            max-width: 100px;
            width: 15ch !important;
            position: relative;
            transition: all .3s ease-in-out;
          }
        }

        &.amount-save {
          z-index: 9;

          label {
            input {
              max-width: 100%;
              min-width: 15ch;
              width: 15ch;
              box-shadow: 0 4px 8px rgba(27, 26, 28, 0.24);
            }
          }

          .save {
            display: flex;
          }
        }

        .save {
          display: none;
          position: absolute;
          z-index: 999;
          right: 5px;
          top: 5px;
          width: 38px;
          height: 28px;
          justify-content: center;
          align-items: center;
          color: white;
          padding: 5px 7px;
          background: #0A68F7;
          border-radius: 4px;
          cursor: pointer;
          transition: all .4s ease-in-out;

          &:hover {
            background: rgb(10, 85, 191);
          }
        }
      }

      &-amount {
        width: 100%;
        max-width: 10%;
        position: relative;

        input {
          border: 1px solid #DFE0EB;
          border-radius: 8px;
          padding: 8px 12px;
          background: white;

          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance: textfield;
        }
      }

      &-userAmount {
        width: 100%;
        max-width: 10%;
        position: relative;

        .amountData {
          &:hover {
            label {
              input {
                max-width: 160px;
              }
            }
          }
        }

        input {
          border: 1px solid #DFE0EB;
          border-radius: 8px;
          padding: 8px 12px;

          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance: textfield;
        }
      }

      &-profit {
        position: relative;

        .hover-info {
          position: absolute;
          min-width: 1px;
          left: 1%;
          text-align: left;

          .polygon {
            line-height: 0;
            border-radius: 8px;
            position: relative;
            top: 6px;
            left: 10px;
          }

          &-text {
            background: #1B1A1C;
            color: #FFFFFF;
            padding: 7px 12px;
            border-radius: 8px;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      &-ip {
        position: relative;

        .hover-info {
          position: absolute;
          min-width: 1px;
          left: 1%;
          text-align: left;

          .polygon {
            line-height: 0;
            border-radius: 8px;
            position: relative;
            top: 6px;
            left: 10px;
          }

          &-text {
            background: #1B1A1C;
            color: #FFFFFF;
            padding: 7px 12px;
            border-radius: 8px;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      &-status {
        width: 100%;
        max-width: 2%;

        .custom-select {
          position: relative;
          width: 91px;
          text-align: left;
          outline: none;
          height: auto;
          line-height: 36px;

          .selected {
            border-radius: 6px;
            color: #1B1A1C;
            cursor: pointer;
            user-select: none;
            padding: 8px 0;

            &::after {
              display: none;
            }

            .open {
              background: rgba(159, 162, 180, 0.06);
              border-radius: 8px;
            }

            .status {
              display: flex;

              &-btns {
                @media (max-width: 1079px) {
                  background: #0A68F7;
                }

                .title {
                  font-size: 14px;
                  font-weight: 600;
                }
              }

              &-item {
                padding: 8px;
                border-radius: 6px;
                font-size: 12px;
                font-weight: 700;
                color: white;
                line-height: 1;
              }

              .remaining {
                background: #c00fb2;
              }

              .completed {
                background: #02C076;
              }

              .pay {
                background: #44A5FF;
              }

              .exchange {
                background: #673DFD;
              }

              .overdue {
                background: #FF783E;
              }

              .returned {
                background: red;
              }
            }
          }

          .items {
            color: #1B1A1C;
            position: fixed;
            background: #FFFFFF;
            box-shadow: 0 4px 24px rgba(15, 0, 58, 0.12);
            border-radius: 12px;
            z-index: 999;
            margin-top: 4px;
            width: 300px;
            right: 2.2vw;
            line-height: 50px;

            @media (max-width: 1079px) {
              position: fixed;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              max-width: 100%;
              height: 100vh;
              z-index: 999;
              background: rgba(67, 40, 164, 0.54);
              backdrop-filter: blur(20px);
              -webkit-backdrop-filter: blur(20px);
            }

            .item {
              color: #1B1A1C;
              cursor: pointer;
              user-select: none;
              background: none;
              transition: all .3s ease-in-out;

              .mob-name {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-right: 24px;
              }

              @media (max-width: 1079px) {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: white;
                box-shadow: 0 6px 24px rgba(27, 26, 28, 0.16);
                border-radius: 16px 16px 0 0;
                width: 100%;
                padding-bottom: 20px;

                .title {
                  padding: 20px 20px 8px 20px;
                  cursor: default;

                  span {
                    padding-left: 5px;
                    color: #9FA2B4;
                    font-weight: 700;
                  }
                }
              }

              .active {
                color: #0A68F7;
                font-weight: 600;
              }

              .completed {
                .circle {
                  background: #02C076;
                }
              }

              .remaining {
                .circle {
                  background: #8B81FF;
                }
              }

              .canceled {
                .circle {
                  background: #FF783E;
                }
              }

              .empty {
                .circle {
                  background: #c00fb2;
                }
              }

              .completed {
                .circle {
                  background: #02C076;
                }
              }

              .pay {
                .circle {
                  background: #44A5FF;
                }
              }

              .exchange {
                .circle {
                  background: #673DFD;
                }
              }

              .overdue {
                .circle {
                  background: #FF783E;
                }

              }

              .returned {
                .circle {
                  background: red;
                }
              }

              &-dropdown {
                width: 100%;
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;


                .circle {
                  height: 10px;
                  width: 10px;
                  /*background: #0A68F7;*/
                  border-radius: 90px;
                  margin-right: 10px;
                }
              }
            }
          }

          .selectHide {
            display: none;
          }
        }

        .disabled {
          opacity: 1;
        }

        .vue-js-switch {
          .v-switch-core {
            width: 44px !important;
            height: 16px !important;

            .v-switch-button {
              width: 10px !important;
              height: 10px !important;
              transform: translate3d(22px, 3px, 0px);
            }
          }
        }
      }

      &-buttons {
        width: 100%;
        max-width: 7%;
        padding-left: 0;
        padding-right: 15px;

        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          max-width: 100px;

          &-refresh {
            background: rgba(10, 104, 247, 0.06);
            border-radius: 8px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background: rgba(10, 104, 247, 0.12);
            }

            svg {
              margin-left: 3px;
            }
          }

          &-deposit {
            background: rgba(10, 104, 247, 0.06);
            border-radius: 8px;
            width: 32px;
            height: 32px;
            font-size: 14px;
            line-height: 20px;
            color: #0A68F7;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
              background: rgba(10, 104, 247, 0.12);
            }
          }
        }
      }
    }
  }
}
